.backend {
    max-width: 1170px;
    margin: 0 auto;
}

.backend .header {
    position: relative;
    height: 40px;
    margin-bottom: 40px;
}

.backend .header .be-icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;
    font-size: 20px;
    background: #9933ff;
    /*color: #F5F5F5;*/
    text-align: center;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.backend .header * i {
    display: inline-block;
    padding-top: 10px;
}

.backend .header .be-operation {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    background: #151515;
    color: #F5F5F5;
    margin-left: 55px;
    margin-right: 165px;
    padding-left: 14px;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.backend .header.no-preview .be-operation {
    margin-right: 110px;
}

.backend .header.no-link .be-operation {
    margin-right: 0;
}

.backend .header a {
    position: absolute;
    top: 0;
    height: 40px;
    width: 40px;
    font-size: 20px;
    background: #151515;
    color: #F5F5F5;
    text-align: center;
    cursor: pointer;
    outline: 0;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.backend .header a.active {
    background: #9933ff;
}

.backend .header a:hover {
    background: #9933ff;
}

.backend .header .be-form {
    right: 110px;
}

.backend .header.no-preview .be-form {
    right: 55px;
}

.backend .header .be-images {
    right: 55px;
}

.backend .header.no-preview .be-images {
    right: 0;
}

.backend .header .be-preview {
    right: 0;
}

.backend #projetos-grid .thumb,
.backend #images-grid .thumb {
    display: block;
    position: relative;
    overflow-y: hidden;
    height: 70px;
}

.backend #projetos-grid .thumb img,
.backend #images-grid .thumb img {
    display: block;
    vertical-align: middle;
}

.backend #projetos-grid .video img,
.backend #images-grid .video img {
    opacity: 0.5;
}

.backend #projetos-grid .video i,
.backend #images-grid .video i {
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 50%;
    margin-left: -28px;
    font-size: 40px;
    color: #cd201f;
}

.backend #projetos-grid .i-thumbs-up {
    color: #151515;
    font-size: 16px;
}

.backend #projetos-grid .i-lock {
    color: #da4f49;
    font-size: 16px;
}


.form {
    padding: 0 40px;
}

.form-centered {
    text-align: center;
}

.form-centered form {
    text-align: left;
}

.form-centered .form-actions button,
.form-centered .form-actions a,
.form .form-actions button,
.form .form-actions a {
    float: right;
    margin-left: 10px;
}

#user-login-form,
#upload-form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

#admin-header .navbar li.be-config a i {
    font-size: 20px;
}

#admin-header .navbar .navbar-inner {
    border-radius: 0;
}

#admin-header .navbar .navbar-inner .container {
    max-width: 1170px;
}