body {
    background: none repeat scroll 0 0 #F5F5F5 !important;
    color: #151515 !important;
    letter-spacing: 1px;
    min-width: 305px;
}

body.modal-open {
    overflow: hidden;
}

#page {
    width: 90%;
}

#main {
    padding: 20px 0 40px;
}

/*******************************************************************************
    HEADER
*/

.header .top {
    margin-top: 60px;
}

.header .top.no-margin {
    margin-top: 0;
    text-align: center;
    font-size: 60px;
    color: #9933ff;
}

.header .navbar {
    margin-bottom: 0;
}

.header .navbar-inner {
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #F5F5F5, #F5F5F5);
    background-repeat: repeat-x;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    min-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.header .navbar-inner .container {
    max-width: 1170px;
}

.header .navbar .brand {
    color: #151515;
    text-shadow: none;
    height: 40px;
    line-height: 40px;
}

.header .navbar .brand img {
    height: 40px;
}

.header ul.nav li.mail,
.header ul.nav li.phone {
    line-height: 40px;
    font-size: 14px;
}

.header ul.nav li.mail-icon a,
.header ul.nav li.phone-icon a {
    padding-right: 5px;
}

.header ul.nav li a {
    font-size: 16px;
    color: #151515;
    letter-spacing: 2px;
    font-weight: bold;
    text-shadow: none;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.header ul.nav li a i {
    color: #9933ff;
    padding-left: 1px;
}

.header ul.nav li a:hover {
    color: #9933ff;
}

.header ul.nav li a:focus,
.header ul.nav li a:active {
    color: #FFFFFF;
}

.header ul.nav li.active a {
    color: #9933ff;
}

.header hr {
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(153, 51, 255, 0), rgba(153, 51, 255, 1), rgba(153, 51, 255, 0)); 
    background-image:    -moz-linear-gradient(left, rgba(153, 51, 255, 0), rgba(153, 51, 255, 1), rgba(153, 51, 255, 0)); 
    background-image:     -ms-linear-gradient(left, rgba(153, 51, 255, 0), rgba(153, 51, 255, 1), rgba(153, 51, 255, 0)); 
    background-image:      -o-linear-gradient(left, rgba(153, 51, 255, 0), rgba(153, 51, 255, 1), rgba(153, 51, 255, 0)); 
}

.header hr.bottom {
    margin-top: 0;
}

.header hr.top {
    margin: 0;
}

.header .navbar .btn-navbar {
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #F5F5F5, #F5F5F5);
    background-repeat: repeat-x;
    border: none;
    box-shadow: none;
    color: #151515;
    float: right;
    margin-left: 5px;
    margin-right: 5px;
    padding: 7px 10px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.header .navbar .btn-navbar:hover,
.header .navbar .btn-navbar:focus,
.header .navbar .btn-navbar:active {
    background-color: #F5F5F5;
}

.header .navbar .btn-navbar .icon-bar {
    background-color: #9933ff;
    box-shadow: none;
    height: 2px;
    display: block;
    width: 30px;
    margin-top: 7px;
    padding-top: 1px
}

/*******************************************************************************
    PERFIL
*/

#profile-picture img {
    display: block;
    width: 250px;
    margin: 0 auto;

    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 6px 8px 0px rgba(0, 0, 0, 0.75);
}

#profile-content {
    text-align: center;
}

#profile-content .title {
    display: block;
    padding-top: 20px;
    font-size: 16px;
    font-weight: bold;
}

#profile-content .cau {
    display: block;
    padding: 4px 0;
    color: #9933ff;
    font-size: 12px;
}

#profile-content .description {
    display: block;
    margin: 0 auto;
    width: 250px;
}

#profile-content .email {
    padding: 10px 0;
}

#profile-content i {
    color: #9933ff;
}

#profile-content .email a,
#profile-content .phone a {
    text-decoration: none;
    color: #D7D7D7;
    font-weight: bold;
    margin-left: 5px;
    padding-right: 10px;
    font-size: 20px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

#profile-content .email a:hover,
#profile-content .phone a:hover {
    color: #9933ff;
}

/*******************************************************************************
    PROJETOS - FILTRO
*/

#filtro-projetos {
    margin: 10px;
    text-align: center;
}

.filtro-projetos-inner {
    display: inline-block;
}

.filtro-projetos-inner .filtro-item {
    margin: 10px 20px;
    color: #151515;
}

.filtro-projetos-inner .filtro-item.active {
    color: #9933ff;
}

.filtro-projetos-inner .filtro-item.active img.top {
    display: none;
}

.filtro-projetos-inner .icon {
    display: inline-block;
    float: left;
    font-size: 60px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
    text-align: center;
}

.filtro-projetos-inner .icon span {
    font-size: 16px;
    display: block;
    margin-top: 5px;
}

.filtro-projetos-inner .icon:hover {
    color: #9933ff;
    text-decoration: none;
}

.filtro-projetos-inner .img-icon {
    position: relative;
    float: left;
    height: 85px;
    width: 84px;
    /*margin: 0;*/
    cursor: pointer;
}

.filtro-projetos-inner .img-icon img {
    height: 60px;
    position: absolute;
    top: -6px;
    left: 12px;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}

.filtro-projetos-inner .img-icon span {
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 5px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.filtro-projetos-inner .img-icon:hover {
    color: #9933ff;
}

.filtro-projetos-inner.filtro-mobile .filtro-item {
    -ms-transform: scale(0.75);
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    margin: 0;
}

/*******************************************************************************
    Projetos
*/

#projetos {
    display: block;
    height: auto;
    margin: 20px 0;
}

#projetos-inner {
    display: table;
    max-width: 1480px;
    min-height: 270px;
    margin: 0 auto;
    text-align: center;
    clear: both;
}

#projetos .item {
    position: relative;
    display: inline-block;
    float: left;
    width: 350px;
    height: 250px;
    margin: 10px;
    overflow: hidden;
    outline: 0;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 6px 8px 0px rgba(0, 0, 0, 0.75);
}

#projetos .item-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 350px;
    height: 220px;
    background: #151515;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition:    opacity 0.2s ease-in-out;
    -o-transition:      opacity 0.2s ease-in-out;
    transition:         opacity 0.2s ease-in-out;
}

#projetos .item:hover .item-hover {
    opacity: 0.4;
}

#projetos .item img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    max-width: none;
    max-height: 100%;
    margin-left: 0;
}

#projetos .item .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background: #151515;
}

#projetos .item .caption p {
    line-height: 30px;
    font-size: 14px;
    color: #F5F5F5;
}

@media (max-width: 1662px) {
    #projetos-inner {
        max-width: 1110px;
    }
}

@media (max-width: 1250px) {
    #projetos-inner {
        max-width: 740px;
    }
}

@media (max-width: 839px) {
    #projeto-view {
        padding: 0 20px;
    }
    
    #page {
        width: 100%;
    }
    
    #projeto-view p.descricao,
    #projeto-view p.texto {
        padding: 20px 20px;
    }
}

@media (max-width: 767px) {
    #projetos-inner {
        max-width: 370px;
    }
    
    #projeto-view {
        padding: 0;
    }
    
    #projeto-view p.nome .categoria-icon,
    #projeto-view p.nome .projeto-prev, 
    #projeto-view p.nome .projeto-next {
        top: -55px;
    }
    
    #projeto-view p.nome .projeto-nome {
        margin: 70px 0;
    }
}

@media (max-width: 410px) {
    #projetos-inner {
        width: 100%;
    }

    #projetos .item {
        display: block;
        width: 100%;
        margin: 10px 0;
    }
}

/*******************************************************************************
    Projeto - view
*/

#projeto-view {
    max-width: 1170px;
    margin: 0 auto;
}

#projeto-view .nome {
    position: relative;
    height: 40px;
    margin-bottom: 15px;
}

#projeto-view .nome .categoria-icon {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    width: 40px;
    font-size: 20px;
    background: #9933ff;
    text-align: center;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#projeto-view .nome .categoria-icon img {
    width: 25px;
    padding-top: 5px;
}

#projeto-view .nome .categoria-icon i {
    display: inline-block;
    padding-top: 10px;
}

#projeto-view .nome .projeto-nome {
    display: block;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    background: #151515;
    color: #F5F5F5;
    margin-left: 55px;
    margin-right: 110px;
    padding-left: 14px;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#projeto-view .nome .projeto-nome.full {
    margin-right: 0;
}

#projeto-view .nome .projeto-prev {
    position: absolute;
    right: 55px;
    top: 0;
    height: 40px;
    width: 40px;
    font-size: 20px;
    background: #9933ff;
    text-align: center;
    color: #151515;
    cursor: pointer;
    outline: 0;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

#projeto-view .nome .projeto-next {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    width: 40px;
    font-size: 20px;
    background: #9933ff;
    text-align: center;
    color: #151515;
    outline: 0;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#projeto-view .nome .projeto-prev:hover,
#projeto-view .nome .projeto-next:hover {
    color: #F5F5F5;
    background: #151515;
}

#projeto-view .nome .projeto-prev i,
#projeto-view .nome .projeto-next i {
    display: inline-block;
    padding-top: 10px;
}

#projeto-view .nome .projeto-next i {
    padding-left: 2px;
}

#galleria {
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 6px 8px 0px rgba(0, 0, 0, 0.75);
}

#galleria .galleria-container:not(.fullscreen) .galleria-image img {
    cursor: pointer;
}

#galleria .galleria-container {
    background: #151515;
}

.galleria-lightbox-info {
    font-size: 13px !important;
}

.galleria-lightbox-title a i {
    color: #9933ff;
    margin-right: 4px;
}

.galleria-lightbox-title a:hover i {
    color: #9933ff;
}

#projeto-view .texto,
#projeto-view .descricao {
    background: #151515;
    color: #F5F5F5;
    margin: 15px 0;
    padding: 20px 100px;
    text-align: justify;
    -webkit-box-shadow: 0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    0px 6px 8px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         0px 6px 8px 0px rgba(0, 0, 0, 0.75);
}

#projeto-view .texto b {
    font-size: 18px;
    line-height: 30px;
}

#image-view {
    max-width: 1170px;
    height: 70vh;
    margin: 0 auto;
}