@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?35373747');
  src: url('../font/fontello.eot?35373747#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?35373747') format('woff'),
       url('../font/fontello.ttf?35373747') format('truetype'),
       url('../font/fontello.svg?35373747#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?35373747#fontello') format('svg');
  }
}
*/
 
 [class^="i-"]:before, [class*=" i-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.i-mail:before { content: '\e800'; } /* '' */
.i-phone:before { content: '\e801'; } /* '' */
.i-facebook:before { content: '\e802'; } /* '' */
.i-tumblr:before { content: '\e803'; } /* '' */
.i-skype:before { content: '\e804'; } /* '' */
.i-googleplus:before { content: '\e805'; } /* '' */
.i-instagram:before { content: '\e806'; } /* '' */
.i-linkedin:before { content: '\e807'; } /* '' */
.i-youtube:before { content: '\e808'; } /* '' */
.i-facebook-circled:before { content: '\e809'; } /* '' */
.i-tools:before { content: '\e80a'; } /* '' */
.i-graduation-cap:before { content: '\e80b'; } /* '' */
.i-home:before { content: '\e80c'; } /* '' */
.i-building:before { content: '\e80d'; } /* '' */
.i-tree-2:before { content: '\e80e'; } /* '' */
.i-zoom-in:before { content: '\e80f'; } /* '' */
.i-zoom-out:before { content: '\e810'; } /* '' */
.i-left-open-big:before { content: '\e811'; } /* '' */
.i-right-open-big:before { content: '\e812'; } /* '' */
.i-link-ext:before { content: '\e813'; } /* '' */
.i-eye:before { content: '\e814'; } /* '' */
.i-thumbs-up:before { content: '\e815'; } /* '' */
.i-pencil:before { content: '\e816'; } /* '' */
.i-photo:before { content: '\e817'; } /* '' */
.i-beaker:before { content: '\e818'; } /* '' */
.i-lock:before { content: '\e819'; } /* '' */
.i-trash:before { content: '\e81a'; } /* '' */
.i-wallet:before { content: '\e81b'; } /* '' */
.i-user:before { content: '\e81c'; } /* '' */
.i-note:before { content: '\e81d'; } /* '' */
.i-cancel-circled:before { content: '\e81e'; } /* '' */
.i-spin5:before { content: '\e81f'; } /* '' */