
.i-mail:before { content: '\e800'; } /* '' */
.i-phone:before { content: '\e801'; } /* '' */
.i-facebook:before { content: '\e802'; } /* '' */
.i-tumblr:before { content: '\e803'; } /* '' */
.i-skype:before { content: '\e804'; } /* '' */
.i-googleplus:before { content: '\e805'; } /* '' */
.i-instagram:before { content: '\e806'; } /* '' */
.i-linkedin:before { content: '\e807'; } /* '' */
.i-youtube:before { content: '\e808'; } /* '' */
.i-facebook-circled:before { content: '\e809'; } /* '' */
.i-tools:before { content: '\e80a'; } /* '' */
.i-graduation-cap:before { content: '\e80b'; } /* '' */
.i-home:before { content: '\e80c'; } /* '' */
.i-building:before { content: '\e80d'; } /* '' */
.i-tree-2:before { content: '\e80e'; } /* '' */
.i-zoom-in:before { content: '\e80f'; } /* '' */
.i-zoom-out:before { content: '\e810'; } /* '' */
.i-left-open-big:before { content: '\e811'; } /* '' */
.i-right-open-big:before { content: '\e812'; } /* '' */
.i-link-ext:before { content: '\e813'; } /* '' */
.i-eye:before { content: '\e814'; } /* '' */
.i-thumbs-up:before { content: '\e815'; } /* '' */
.i-pencil:before { content: '\e816'; } /* '' */
.i-photo:before { content: '\e817'; } /* '' */
.i-beaker:before { content: '\e818'; } /* '' */
.i-lock:before { content: '\e819'; } /* '' */
.i-trash:before { content: '\e81a'; } /* '' */
.i-wallet:before { content: '\e81b'; } /* '' */
.i-user:before { content: '\e81c'; } /* '' */
.i-note:before { content: '\e81d'; } /* '' */
.i-cancel-circled:before { content: '\e81e'; } /* '' */
.i-spin5:before { content: '\e81f'; } /* '' */